<template>
  <div class="edit">
    
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-property-decorator";
export default class Login extends Vue{
  name:string = 'Login'
}
</script>
<style lang="scss" scoped>
@import '../../styles/main.scss';

</style>
