<template>
  <div class="bbg">
    <div class="head">
      <h2>我的OKR</h2>
    </div>
    <div class="search">
      <a-row>
        <a-col :span="8">
          <a-input-group class="fixSItem">
            <span>年度：</span>
            <a-select defaultValue="Zhejiang">
              <a-select-option value="Zhejiang">2019</a-select-option>
              <a-select-option value="Jiangsu">2018</a-select-option>
            </a-select>
          </a-input-group>
        </a-col>
        <a-col :span="8">
          <span>季度：</span>
          <a-button-group>
            <a-button type="primary">Q1</a-button>
            <a-button>Q2</a-button>
            <a-button>Q3</a-button>
            <a-button>Q4</a-button>
          </a-button-group>
        </a-col>
        <a-col :span="8">
          <span>层级：</span>
          <a-radio-group :value="Level" @change="handleSizeChange">
            <a-radio-button value="large">上级</a-radio-button>
            <a-radio-button value="default">我的</a-radio-button>
            <a-radio-button value="small">下属</a-radio-button>
          </a-radio-group>
        </a-col>
      </a-row>
    </div>
    <div class="info">
      <a-row>
        <a-col :span="4">
          <span>王大锤</span>
        </a-col>
        <a-col :span="16">
          <ul class="infoList">
            <li>
              <p>
                <span>上级：</span>AAA,BBB,CCC
              </p>
            </li>
            <li>
              <p>
                <span>季度：</span>2019-Q1
              </p>
            </li>
            <li>
              <p>
                <span>自评得分：</span>6.00
              </p>
            </li>
            <li>
              <p>
                <span>上级评分：</span>尚未评分
              </p>
            </li>
            <li>
              <p>
                <span>状态：</span>未提交
              </p>
            </li>
          </ul>
        </a-col>
        <a-col :span="4">
          <div class="infoBtn">
            <a-button type="primary">新建</a-button>
            <a-button type="primary">评分</a-button>
          </div>
        </a-col>
      </a-row>
    </div>
    <div class="homeWarn">
      <a-alert
      :message="homeMsg"
      banner
      closable
      />
    </div>
    <div class="homeBody">
      <Department/>
    </div>
    <!-- <div class="Nothing">
      <a-row></a-row>
      <div class="nothingImg">
        <img src="../../assets/img/copy.png" alt />
        <h3>您还没添加OKR</h3>
        <p>和上级达成协议后，需要给本季度建立管理目标。</p>
        <a-button type="primary">立即添加</a-button>
      </div>
    </div> -->
  </div>
</template>
<script lang="ts">
import Department from "../../components/home/department.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    Department
  }
})
export default class Home extends Vue {
  Level: string = "default";
  homeMsg: string = "当前OKR未提交，请尽快编辑后提交审核";
  public handleSizeChange(e): void {
    console.log(e.target.value);
    // 赋值bug
    // this.Level = e.target.value
  }
}
</script>
<style lang="scss" scoped>
$bgColor: #fff;
@mixin bg($color) {
  background: $color;
}
@mixin base {
  padding: 0 24px;
}
@mixin fixH($height) {
  height: $height;
  line-height: $height;
}

.bbg {
  background: #f0f0f0;
  .head {
    border-top: 1px solid #000;
    @include bg($bgColor);
    height: 60px;
    line-height: 60px;
    @include base;
  }
  .search {
    margin: 24px;
    @include bg($bgColor);
    @include base;
    @include fixH(80px);
    .fixSItem {
      @include fixH(80px);
    }
  }
  .info {
    margin: 24px;
    @include base;
    @include fixH(80px);
    @include bg($bgColor);
    .infoList {
      display: flex;
      justify-content: space-around;
      li {
        list-style: none;
      }
    }
    .infoBtn {
      text-align: right;
    }
  }
  .homeWarn {
    @include bg($bgColor);
    margin: 24px;
  }
  .homeBody {
    margin: 24px;
    @include bg($bgColor);
    @include base;
  }
  .Nothing {
    margin: 24px;
    @include bg($bgColor);
    @include base;
    height: 500px;
    text-align: center;
    .nothingImg{
      margin-top: 120px;
    }
  }
}
</style>
