<template>
  <div class="department">
    <span>部门：BS05_FinancialXXXXX</span>
    <div class="depTotal">
      <a-row>
        <a-col :span="14">
          <p>O1:OBJECT DESCRIPTION</p>
        </a-col>
        <a-col :span="4"></a-col>
        <a-col :span="6">
          <p>
            <span>权重：30%</span>
            <span>自评：--</span>
            <span>他评：--</span>
          </p>
        </a-col>
      </a-row>
      <div class="depDetails">
        <div class="depDetailsItem">
          <a-row>
            <a-col :span="14">
              <p
                class="depKR"
              >KR2:KEY RESULT DESCRIPTION，Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et</p>
            </a-col>
            <a-col :span="4">
              <p>完成时间：2019-03-31</p>
            </a-col>
            <a-col :span="6">
              <p>
                <span>权重：30%</span>
                <span>自评：--</span>
                <span>他评：--</span>
              </p>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="14">
              <p>配合部门：AAA,BBB,CCC</p>
            </a-col>
            <a-col :span="4">
              <p></p>
            </a-col>
            <a-col :span="6"></a-col>
          </a-row>
        </div>
        <div class="depDetailsItem">
          <a-row>
            <a-col :span="14">
              <p
                class="depKR"
              >KR2:KEY RESULT DESCRIPTION，Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et</p>
            </a-col>
            <a-col :span="4">
              <p>完成时间：2019-03-31</p>
            </a-col>
            <a-col :span="6">
              <p>
                <span>权重：30%</span>
                <span>自评：--</span>
                <span>他评：--</span>
              </p>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="14">
              <p>配合部门：AAA,BBB,CCC</p>
            </a-col>
            <a-col :span="4">
              <p></p>
            </a-col>
            <a-col :span="6"></a-col>
          </a-row>
        </div>
      </div>
    </div>
    <div class="depTotal">
      <a-row>
        <a-col :span="14">
          <p>O1:OBJECT DESCRIPTION</p>
        </a-col>
        <a-col :span="4"></a-col>
        <a-col :span="6">
          <p>
            <span>权重：30%</span>
            <span>自评：--</span>
            <span>他评：--</span>
          </p>
        </a-col>
      </a-row>
      <div class="depDetails">
        <div class="depDetailsItem">
          <a-row>
            <a-col :span="14">
              <p
                class="depKR"
              >KR2:KEY RESULT DESCRIPTION，Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et</p>
            </a-col>
            <a-col :span="4">
              <p>完成时间：2019-03-31</p>
            </a-col>
            <a-col :span="6">
              <p>
                <span>权重：30%</span>
                <span>自评：--</span>
                <span>他评：--</span>
              </p>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="14">
              <p>配合部门：AAA,BBB,CCC</p>
            </a-col>
            <a-col :span="4">
              <p></p>
            </a-col>
            <a-col :span="6"></a-col>
          </a-row>
        </div>
        <div class="depDetailsItem">
          <a-row>
            <a-col :span="14">
              <p
                class="depKR"
              >KR2:KEY RESULT DESCRIPTION，Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et</p>
            </a-col>
            <a-col :span="4">
              <p>完成时间：2019-03-31</p>
            </a-col>
            <a-col :span="6">
              <p>
                <span>权重：30%</span>
                <span>自评：--</span>
                <span>他评：--</span>
              </p>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="14">
              <p>配合部门：AAA,BBB,CCC</p>
            </a-col>
            <a-col :span="4">
              <p></p>
            </a-col>
            <a-col :span="6"></a-col>
          </a-row>
        </div>
      </div>
    </div>
    <div class="depSummarize">
      <p>总结：XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
      <p>评价：XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Department extends Vue {}
</script>
<style lang="scss" scoped>
.department {
  .depTotal {
    margin-left: 1em;
    padding-bottom: 20px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 10px;
    &:nth-last-of-type(2){
      border-bottom: 0px;
    }
    &:nth-last-of-type(1){
      border-bottom: 0px;
    }
    .depDetails {
      background: #ccc;
      padding-top: 6px;
      .depDetailsItem {
        padding-left: 2em;
        .depKR {
          padding-right: 2em;
        }
      } 
    }
  }
  .depSummarize{
    margin-left: 1em;
    padding-bottom: 20px;
  }
}
</style>