<template>
  <div>
    selfEvaluation
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-property-decorator";
export default class SelfEvaluation extends Vue{
  
}
</script>
<style lang="scss" scoped>

</style>
