<template>
  <div>
    architecture
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-property-decorator";
export default class Architecture extends Vue{
  
}
</script>
<style lang="scss" scoped>

</style>
