<template>
  <div>
    Edit
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-property-decorator";
export default class Edit extends Vue{
  name:string = 'Edit'
}
</script>
<style lang="scss" scoped>

</style>
