<template>
  <a-layout id="components-layout-demo-fixed-sider">
    <a-layout-sider
      ref="layoutSider"
      :style="{ overflow: 'auto', height: '100vh', position: 'fixed', left: 0 }"
      :trigger="null"
      collapsible
      v-model="collapsed"
    >
      <div class="logo"></div>
      <!-- <a-menu theme="dark" mode="inline" :defaultSelectedKeys="['1']" :defaultOpenKeys="[]"> -->
      <a-menu theme="dark" mode="inline">
        <a-sub-menu v-for="item in rData" :key="item.name">
          <span slot="title">
            <a-icon type="appstore" />
            <span>{{item.meta.title}}</span>
          </span>
          <a-menu-item :key="itemChild.path" v-for="itemChild in item.children">
            <router-link :to="item.path + '/' + itemChild.path">{{itemChild.meta.title}}</router-link>
            <!-- <a :href="item.path + '/' + itemChild.path">{{itemChild.meta.title}}</a> -->
          </a-menu-item>
        </a-sub-menu>
      </a-menu>
    </a-layout-sider>
    <a-layout :style="mainLayout">
      <a-layout-header
        :style="{ background: '#fff', padding: 0, width: '100%', position: 'fixed', zIndex: 1 }"
      >
        <div class="header">
          <div class="click">
            <a-icon
              class="trigger"
              :type="collapsed ? 'menu-unfold' : 'menu-fold'"
              @click="collapsedChange"
            />
          </div>
          <div class="userInfo" :style="fixUserInfo">
            <p>
              <a-avatar class="icon" icon="user" />
              <span>momo.xyz</span>
            </p>
          </div>
        </div>
      </a-layout-header>
      <a-layout-content :style="{ margin: '64px 0 0 0', overflow: 'initial' }">
        <router-view :key="key"></router-view>
      </a-layout-content>
      <a-layout-footer :style="{ textAlign: 'center' }">Ant Design ©2018 Created by Ant</a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script lang="ts">
import Vue from "vue";
import { baseRouter } from "../router";
export default Vue.extend({
  name: "LayoutSide",
  data() {
    return {
      collapsed: false,
      mainLayout: {
        marginLeft: "200px"
      },
      fixUserInfo: {
        marginRight: "210px"
      }
    };
  },
  methods: {
    collapsedChange() {
      // 修复样式问题
      // const fixWdith = this.$refs.layoutSider['$el'].clientWidth
      // this.collapsed === true ? this.mainLayout.marginLeft = '200px' : this.mainLayout.marginLeft = '80px'
      if (this.collapsed) {
        this.mainLayout.marginLeft = "200px";
        this.fixUserInfo.marginRight = "210px";
      } else {
        this.mainLayout.marginLeft = "80px";
        this.fixUserInfo.marginRight = "90px";
      }
      this.collapsed = !this.collapsed;
    }
  },
  mounted() {
    // console.log(baseRouter)
    console.log(this.$route)
  },
  computed: {
    rData: () => {
      return baseRouter;
    },
    key: () => {
      return Math.random()
    }
  },
  components: {}
});
</script>
<style lang="scss" scoped>
#components-layout-demo-fixed-sider {
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  .click {
    margin-left: 10px;
  }
  .userInfo {
    p {
      .icon {
        margin-right: 6px;
      }
    }
  }
}
</style>